body {
    background-color: #f0f0f0; /* Cambia este color al que prefieras */
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center; /* Esto centra el h1 */
    color: #333; /* Color del texto del h1 */
    margin-top: 20px;
}
